<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="sublimetext4" />
  <package id="googlechrome" />
  <package id="openjdk" />
  <package id="ghidra" />
  <package id="hxd" />
  <package id="python3" />
  <package id="pebear" />
  <package id="visualstudio-installer" />
  <package id="reshack" />
  <package id="die" />
  <package id="pestudio" />
  <package id="dnspyex" />
  <package id="x64dbg.portable" />
  <package id="processhacker" />
  <package id="ericzimmermantools" />
  <package id="cmder" />
  <package id="docker-cli" />
  <package id="capa" />
  <package id="exiftool" />
  <package id="floss" />
  <package id="010editor" />
  <package id="procmon" />
  <package id="regshot" />
  <package id="dependencywalker" />
  <package id="tor-browser" />
  <package id="fiddler" />
  <package id="winscp" />
  <package id="cyberchef" />
  <package id="exeinfo" />
  <package id="file" />
  <package id="apimonitor" />
</packages>
